.add-baby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  margin-top: 0;
}

.add-baby-form-container {
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 80px;
  width: 600px;
  background-color: #dad5d5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

/* Rest of the CSS remains the same */


.h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.add-baby-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.add-baby-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-baby-form button[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

.add-baby-form button[type="submit"]:hover {
  background-color: #45a049;
}

.add-baby-form input[type="date"] {
  padding: 8px;
}

.add-baby-form input[type="number"] {
  padding: 8px;
}
