.add-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.add-admin-form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 400px;
  height: 380px;
  padding-top: 30px;
}

.add-admin-form {
  display: grid;
  grid-gap: 10px;
}

.h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.add-admin-form label {
  font-weight: bold;
}

.add-admin-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-admin-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-admin-form button:hover {
  background-color: #45a049;
}

.add-admin-form button:focus {
  outline: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 80%;
  text-align: center;
}

.modal-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-message {
  margin-bottom: 20px;
}

.modal-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #45a049;
}

.modal-button:focus {
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
