
.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.h2 {
  color: #333;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto; /* Set margin to auto horizontally */
  margin-left: 50px;
  height: 100px;
  overflow-y: auto;
  border-radius: 8px; /* Adjust the border radius as per your preference */
}



.th,
.td {
  padding: 8px; /* Adjust the padding as per your preference */
  text-align: left;
  border-bottom: 2px solid #1a1515;
  border-right: 1px solid #1a1515; /* Add a right border */
}


.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn {
  padding: 6px 12px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #9c2f3a;
}

p {
  color: #666;
}

/* Add the following CSS for the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #666;
}

.container {
  margin: 20px;
  min-height: calc(100vh - 100px); /* Subtracting footer height from viewport height */
}

/* Additional table styling */
.table {
  font-size: 14px;
}

.th {
  font-weight: bold;
}

.td {
  vertical-align: middle;
  line-height: 1.2; /* Adjust the line-height as per your preference */
}

.btn {
  font-size: 12px;
  padding: 4px 8px;
}

.h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
