/* AppointmentDetailsCard.css */
.appointment-details-card {
  position: fixed;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 400px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 5px solid #3e3e3eb9;
  margin: 0px 20px;
  margin-top: 12px;
}

.card-header h3 {
  margin: 5px;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 300ms ease-in-out;
}

.close-button:hover {
  scale: 1.05;
  background-color: #8a4343;
  color: #ffffff;
}

.suggest-date-button {
  color: #fff;
  background-color: #3e3e3e;
}

.suggest-date-button:hover {
  background-color: #181818;
}

.radio-group-role-1 {
  display: flex;
  gap: 36px;
  width: 95%;
}

.radio-group-item-1 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  color: #4e4e4ee5;
  font-weight: 400;
}

.venue-input {
  border: 2px solid #d4d4d4;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 10px;
}
