/* AppointmentDetailsCard.css */
.appointment-details-card {
  position: fixed;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.card-content {
  margin-top: 16px;
}

.suggest-date-button{
  color: #fff;
  background-color: #3e3e3e;
}

.suggest-date-button:hover{
  background-color: #181818;
}