/* MidwifeDashboard.css */

.baby-details-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  z-index: 9999;
  width: 800px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 80vh; /* Adjust the value as needed */
  overflow-y: auto;
  justify-content: center;
}

.vaccine-edit-card {
  position: fixed;
  top: 120%;
  left: 46%;
  transform: translate(-45%, -50%);
  backdrop-filter: blur(10px);
  z-index: 9999;
  max-width: 600px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 80vh; /* Adjust the value as needed */
  overflow-y: auto;
}
.edit-form-container {
  align-items: center;
  justify-content: left;
  z-index: 3;
  background: #fff;
  max-width: 950px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.edit-form-container p{
  justify-self: left;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 5px solid #3e3e3eb9;
  margin: 0px 20px;
  margin-top: 12px;
}

.card-header h3 {
  margin: 5px;
  font-weight: 600;
  font-size: large;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.card-content {
  padding: 16px;
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 35px;
  justify-self: center;
}

.vaccination-timeline {
  margin-top: 16px;
}

.pending-vaccine {
  color: #1f9141;
  font-weight: 600;
  border: 2px solid;
  border-radius: 15px;
  padding: 1px 10px;
  scale: 0.9;
  margin-left: 10px;
  transition: 300ms ease-in-out;
}

.pending-vaccine:hover {
  color: #ffffff;
  background-color: #1f9141;
}

.update-vaccine {
  color: #2663a8e1;
  font-weight: 600;
  border: 2px solid;
  border-radius: 15px;
  padding: 1px 9px;
  margin-left: 8px;
  scale: 0.9;
  transition: 300ms ease-in-out;
}

.update-vaccine:hover {
  color: #ffffff;
  background-color: #2663a8e1;
}

.delete-vaccine {
  color: #bb3927ea;
  font-weight: 600;
  border: 2px solid;
  border-radius: 15px;
  padding: 1px 9px;
  margin-left: 3px;
  scale: 0.9;
  transition: 300ms ease-in-out;
}

.delete-vaccine:hover {
  color: #ffffff;
  background-color: #bb3927ea;
}
