.notification-icon-container {
  position: relative;
  display: inline-block;
}

.notification-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.notification-icon svg {
  color: #434343;
  transition: color 0.3s ease-in-out;
  scale: 1.1;
}

.notification-icon:hover svg {
  color: #911e0a; /* Change the color to your desired hover color */
  scale: 1.2;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: rgba(202, 2, 2, 0.916);
  color: white;
  font-size: 12px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background-color: rgba(255, 255, 255, 0.853);
  border: 1px solid rgba(169, 167, 167, 0.61);
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #000;
  backdrop-filter: blur(1.2px);
  max-height: 55vh;
  min-height: 30vh;
  overflow-y: auto;
}

.dropdown p {
  margin: 0;
  padding: 5px;
  font-size: 14px;
}

.dropdown button {
  margin-top: 10px;
  align-items: center;
}
