/* MidwifeDashboard.css */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.parent-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("src/assets/page_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.height_graph{
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  animation: fadeIn 1s ease-in;
}
.weight_graph{
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  animation: fadeIn 1s ease-in;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(13, 128, 80, 0.875);
  }
  100% {
    background-color: transparent;
  }
}

.appointment-button {
  color: white;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 30px;
  transition:  300ms ease-in-out
}

.header {
  font-family: 'Bebas Neue', sans-serif;
  padding-top: 5vh;
  padding-bottom: 0vh;
}

table {
  border-radius: 2rem;
  border: 1rem hidden #443c68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.151);
  overflow: hidden;
  max-width: 80rem;
}

.baby-table {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px);
}

.calender-styles {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px);
}

.accept-button {
  background-color: rgba(5, 94, 32, 0.774);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition:  300ms ease-in-out;
  margin: 0px 10px;
}

.accept-button:hover{
  scale: 1.05;
  background-color: rgba(5, 55, 97, 0.774);
}

.suggest-date-form {
  display: flex;
  margin-top: 16px;
}

.suggest-date-form input[type="date"] {
  flex: 1;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-right: 8px;
}

.suggest-date-button {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
  gap:initial;
}

.tab-button {
  padding: 10px 20px;
  background-color: #d4dfeb;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease,300ms ease-in-out; 
}

.tab-button.active {
  background-color: #3364a5;
  color: #ffffff;
}

.tab-button:hover {
  background-color: #5c5b5be5;
  color: #ffffff;
  scale: 1.05;
}

/* .tab-button:not(:last-child) {
  margin-left: 10px;
  margin-right: 10px;
} */
.graph-caption{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
}

.SpaceButton{
  width: 75vw;
  height: 1px;
}
