
.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(12, 0, 0) ;
  font-family: "Euclid Circular A";
}





