/* DoctorDashboard.css */

.doctor-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 2rem 0;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 50%;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.card-header {
  background-color: #c3dae4;
  padding: 1rem;
}

.card-body {
  padding: 1rem;
}

.btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.baby-table {
  margin: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

th button,
td button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

th button:focus,
td button:focus {
  outline: none;
}

tr:hover {
  background-color: #f9f9f9;
}



.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
