footer {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 99.31%;
  background: #172940f5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 15px;
  display: grid;
  height: 8vh;
}

@media (width < 620px) {
  footer {
    gap: 16px;
    display: flex;
    flex-direction: column-reverse;
    /* position: static;
    margin-bottom: 16px; */
  }

  .legal > div {
    display: none;
  }
}

footer {
  color: #d9e2ee;
  align-items: center;
  justify-items: center;
  align-content: center;
}

footer.bottom {
  padding: 15px 2vw;
  background-size: cover;
}

.legal {
  font-size: 14px;
  margin-right: 25px;
  align-items: center;
}

.legal > a {
  margin: 0 15px;
  float: right;
  align-content: center;
}

.legal > div {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  float: right;
  justify-content: space-evenly;
  gap: 20px;
  
}

.logo {
  width: 120px;
  height: 100%;
  margin-left: 15px;
  float: left;
}

@media (width < 620px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.bottom {
    align-items: center;
  }

  .legal > div {
    display: none;
  }

  .auth-form-cantainer{
    scale: 0.8;
  }

  .App{
    scale: 0.98;
  }
}
