.auth-form-cantainer {
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: #fff;
    text-align: center;
  }
  
  .auth-form-cantainer, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,Euclid Circular A;
    color-scheme: light dark;
  }
  
  .auth-form-cantainer{
    padding: 4.5rem;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0.5rem;
  }
  
  @media (width >= 500px) {
    .login-form {
      margin: 0;
      width: 350px;
    }
  
    .register-form{
      width: 421.68px;
    }
  }
  
  .auth-form-cantainer > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
  }
  
  .auth-form-cantainer > h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
    justify-items: center;
  }
  
  .login-form > input,
  .login-form > button {
    width: 100%;
    height: 45px;
  }
  
  .login-form > input {
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
    border-radius: 10px;
    height: 45px;
    width: 100%;
  }

  .login-form > button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    transition: color 0.3s;
  }
  
  .login-form > button:hover {
    background: #085a3a;
  }

  .link-btn {
    background: none;
    color: rgb(2, 37, 90);
    text-decoration: underline;
    border: none;
    padding: 15px 5px 0px;
    cursor: pointer;
  }

  .link-btn:hover{
    color: rgb(90, 2, 2);
    scale: 1.02;
  }